<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="lang-zh">{{site.title}}</span>
                    <span class="lang-en" style="display:none;">{{site.title_en}}</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">
                            <span class="lang-zh">{{ site.nav.services }}</span>
                            <span class="lang-en" style="display:none;">{{ site.nav.services_en }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#works">
                            <span class="lang-zh">{{ site.nav.works }}</span>
                            <span class="lang-en" style="display:none;">{{ site.nav.works_en }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">
                            <span class="lang-zh">{{ site.nav.about }}</span>
                            <span class="lang-en" style="display:none;">{{ site.nav.about_en }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">
                            <span class="lang-zh">{{ site.nav.team }}</span>
                            <span class="lang-en" style="display:none;">{{ site.nav.team_en }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">
                            <span class="lang-zh">{{ site.nav.contact }}</span>
                            <span class="lang-en" style="display:none;">{{ site.nav.contact_en }}</span>
                        </a>
                    </li>
                    <li class="dropdown lang-selector">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe"></i> 
                            <span class="lang-zh">语言</span>
                            <span class="lang-en" style="display:none;">Language</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu language-menu">
                            <li><a href="javascript:void(0);" class="lang-switch" data-lang="en">English</a></li>
                            <li><a href="javascript:void(0);" class="lang-switch" data-lang="zh">简体中文</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!-- <div class="intro-lead-in">
                    <span class="lang-zh">欢迎来到我的网站！</span>
                    <span class="lang-en" style="display:none;">Welcome to My Website!</span>
                </div> -->
                <div class="intro-heading">
                    <span class="lang-zh">很高兴认识您</span>
                    <span class="lang-en" style="display:none;">Nice to Meet You</span>
                </div>
                <a href="#services" class="page-scroll btn btn-xl">
                    <span class="lang-zh">了解更多</span>
                    <span class="lang-en" style="display:none;">Learn More</span>
                </a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

